<h2 class="subtitulo"><span data-i18n="skills.my_skills">Projetos</span></h2>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
{% for project in site.data.index.projects %}
    <div class="row">
            <div class="col">
                <div style="background-image: url('http://dankas.github.io/img/smi.jpg');background-size: cover;">
                <h3 style="margin: 0">{{ project.name }}</h3>
                </div>
                <p style="margin: 0">{{ project.descr }}</p>

                {% if project.github %}
                <a href="{{ project.github }} "><i class="fa fa-fw fa-github"></i>GitHub</a>
                {% endif %}
                {% if project.website %}
                <a href="{{ project.website }} "><i class="fa fa-fw fa-home"></i>Homepage</a>
                {% endif %}

            </div>
    </div>
{% endfor %}
