<h2 class="subtitulo"><span data-i18n="skills.my_skills">About</span></h2>

<div>
    Eu sou Daniel e Daniel sou eu! Nasci na festiva cidade de Santa Cruz do Sul, mas desde os dois meses de idade moro em Pelotas, o que me torna um pelotense por opção [pausa para piada]. Ok, terminou a piada? desde muito cedo (graças a profissão de meu pai e aos livros aqui de casa) afeiçoado por tecnologia e ciências. Resultado dessa paixão foi rumo profissional que segui, afinal a ciência e a tecnologia é o kernel da Engenharia Elétrica.

</div>
