<div class="row">
        
        <div class="col-md-4">
            <div class="card align-items-center">
            <h4 class="project-title"> Física 3. </h4>
            <p class="project-desc"> Eletricidade e Magnetismo </p> 
            <a class="btn btn-outline-info btn-sm" href="https://1drv.ms/o/s!AiS5PCiQEtnUge8Okc1kUtBdGPuwLg"> Onenote/Física_3</a>
            </div>
        </div>
        <div class="col-md-4">
                <div class="card align-items-center">
                        <h4 class="project-title"> Equações Diferenciais. </h4>
                        <p class="project-desc"> Equações diferenciais ordinárias, Equações diferenciais em série de potência e Equações diferenciais parciais.</p> 
                        <a class="btn btn-outline-info btn-sm" href="https://1drv.ms/o/s!AiS5PCiQEtnUge8RmJ0Shy-UWTrQdg"> Onenote/EquaçõesDiferenciais</a>
                        </div>
        </div>
        
    </div>
